---
import LayoutMain from "./LayoutMain.astro";
const { title, pubDate, description, author, image, tags } = Astro.props.frontmatter;
---

<LayoutMain pageTitle={title}>
  <section >

    <div class='CardOne | p-12 mb-20'>
      <h1 class=' text-center text-40 mb-8'>{title}</h1>
      <p class='mb-4'>Written by: <span class='text-clr-1 font-bold '>{author}</span></p>
      <small >Published on: {pubDate.slice(0, 10)}</small>
    </div>

    <!-- {image && <img class='m-auto p-8' width='500px' src={image.url} alt={image.alt}>} -->

    <div data-type='markdown' class='CardOne | p-12 text-start mb-8 flex flex-col gap-8'>
      <slot/>
    </div>
    
    <div class='CardOne | m-0 p-4 flex gap-5'>
      {tags.map( (current: string) => 
        <a class='font-bold'  href={`/blog/categories/${current}`}>{current.toUpperCase()}</a> )}
    </div>
  </section>
</LayoutMain>

